/* Estilos para o Footer */
footer {
  background-color: #222;
  color: #f1c40f;
  padding: 2rem 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.footer-section {
  flex: 1;
}

.footer-section h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-section p, .footer-section ul {
  color: #bbb;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a, .social-links a {
  display: inline-block;
  margin-right: 1rem;
  color: #f1c40f;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover, .social-links a:hover {
  color: #fff;
}

.footer-bottom {
  background-color: #111;
  padding: 1rem;
  color: #bbb;
  text-align: center;
  font-size: 0.9rem;
}